/* reset css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "poppins", sans-serif;
	width: 100%;
	min-height: 100vh;
}

/* login page  */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "poppins";
	font-weight: bold;

	padding: 20px;
	border-bottom: solid 1px #5a5d6d;

	color: white;
}

#logo_chat {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 14px;

	font-weight: bold;
}

nav > a {
	margin: 10px;
	color: white;
	text-decoration: none;
}

nav > a:hover {
	color: #5a5d6d;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* #login_button {
  width: 140px;
  height: 45px;
  color: #5a5d6d;
  font-family: "poppins";
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 20px;
  border: solid 1px #5a5d6d;
  padding: 10px 20px;
  cursor: pointer;
} */

/* #nome {
  width: 280px;
  font-family: "poppins";
  background: #1d1f29;
  border: none;
  border-radius: 20px;
  border: solid 1px #5a5d6d;
  cursor: pointer;
} */

/* .login_form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
} */

#label-name {
	margin-top: 15px;
}

#img_user {
	width: 200px;
	height: 120px;

	border-radius: 7%;
}

#btn-light {
	width: 30px;
	height: 30px;
}
