/* reset css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "poppins", sans-serif;
	width: 100%;
	min-height: 100vh;
}

.bg-custom {
	background-color: #171820;
	font-family: 'Poppins';
  }

/* login page  */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "poppins";
	font-weight: bold;

	padding: 20px;
	border-bottom: solid 1px #5a5d6d;

	color: white;
}

#logo_chat {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 14px;

	font-weight: bold;
}

nav > a {
	margin: 10px;
	color: white;
	text-decoration: none;
}

nav > a:hover {
	color: #5a5d6d;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.b-w-h {
  width: 140px;
  height: 155px;
  font-family: "poppins";
 
}

/* #nome {
  width: 280px;
  font-family: "poppins";
  background: #1d1f29;
  border: none;
  border-radius: 20px;
  border: solid 1px #5a5d6d;
  cursor: pointer;
} */

/* .login_form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
} */

#label-name {
	margin-top: 15px;
}

#img_user {
	width: 383px;
	height: 383px;
  
	border-radius: 30%;
  }
#btn-light {
	width: 30px;
	height: 30px;
}
